<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <title>Some Gaming Forum</title>
</head>
<body>

    {% extends 'base.html' %}
    {% block indexpage %}
    <div class="indexholder">
        <ul class="content">
            {% for post in posts %}
            <li>
                <div class="indexcontent">
                    <h2>{{post.title|safe}}</h2>
                    <p class="subtext">By <a href="/{{post.username}}/">{{post.username|safe}}</a> - {{post.date}}</p>
                    <p class="contentpost">{{post.content|safe}}</p>
                </div>
                
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>