<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <title>Some Gaming Forum</title>
</head>
<body>
    
    {% extends 'registration.html' %}
    {% block registrationfail %}{% endblock %}
    {% block content %}
    <div class="loginfail">
        <h1>An error occured when creating your account.</h1>
        <p>{{error_msg}}</p>
        <div class="">
            <a href="/registration/"><i id="backbutton" class="fas fa-arrow-circle-left"></i></a>
        </div>
    </div>
    {% endblock %}
</body>
</html>


