<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <title>Some Gaming Forum</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block recent %}{% endblock %}
    {% block content %}
    <div class="loginfail">
        <h1>Login</h1>
        
            <form method="POST" action="/reset/" class="loginform">
                <input type="email" name="email" id="email" class="inputbox" placeholder="Email" maxlength="32"/>
                <p><input type="submit" name="login" value="Send me a reset" id="submitbutton" /></p>
            </form>
        
        
    </div>
    {% endblock %}

</body>
</html>